:root {
  --primary-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --button-hover-color: #188ce8;
  --icon-color: #afb1b8;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link:hover,
.link:focus {
  color: var(--accent-color);

  transition: color 250ms var(--animation-function);
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

/* navigation */
.nav,
.header__container {
  display: flex;
  align-items: center;
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav__link--current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
}

.nav__link.current {
  color: var(--accent-color);
}
.nav__list {
  display: flex;
  margin-left: 83px;
}
.nav__item:not(last-child) {
  margin-left: 50px;
}

/* стилізуєм лого */

.logo__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__text--first-color {
  color: #000000;
}

.group {
  display: flex;
  align-items: center;
}

.header__group {
  margin-left: auto;
}
.group__item:not(last-child) {
  margin-left: 50px;
}
.group__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms var(--animation-function);
}

.group__link:hover,
.group__link:focus {
  color: var(--accent-color);
}

.group__icon {
  margin-right: 10px;
  fill: currentColor;
}
/* end header */

/* hero overlay */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay__hero {
  margin: 0 auto;
}
.hero {
  display: block;
  max-width: 696px;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* button */
/* .footer-newsletter-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 10px 28px; */

/* .modal-form-btn,
.footer-newsletter-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer; */

/* .button-second {
  display: inline-block;
  max-width: 130px;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-function); */

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  transition: background-color 250ms var(--animation-function) box-shadow 250ms
    var(--animation-function);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* end hero */

/* особливості */

.features-list {
  display: flex;
  gap: 30px;
  flex-basis: calc(100% / 4);
}

.features-list__icon {
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--button-bg-color);
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-list__text {
  min-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* end features */

/* section gsllery */

.gallery {
  padding-top: 0;
}

.gallery__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc(100% / 3);
}

.gallery-list__img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.gallery-list__img::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.gallery-list__text {
  position: absolute;
  bottom: 0;
  padding: 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* end gallery */

/* section team */

.team {
  background-color: var(--button-bg-color);
}
.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
  gap: 30px;
  flex-basis: calc(100% / 4);
}
.team-list__item {
  flex-basis: calc(100% / 4);
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-card {
  padding: 30px 32px;
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-card__social {
  margin-top: 16px;
}
/* links social */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: var(--icon-color);

  transition: color 250ms var(--animation-function),
    background-color 250ms var(--animation-function);
}

.social__link:hover,
.social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.social__icon {
  fill: currentColor;
}
/* end social */
/* section customers */
.customers__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.customers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.customers__link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
  color: var(--icon-color);

  transition: color 250ms var(--animation-function), border-color,
    250ms var(--animation-function);
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.customers__icon {
  fill: currentColor;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo__text--second-color {
  color: var(--primary-white-color);
}
.address {
  margin-top: 20px;
  font-style: normal;
}

.address__item:not(last-item) {
  margin-top: 9px;
}

.address__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.netwotks {
  margin-left: 70px;
}

.netwotks__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* .social */

.social__link--color {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);

  transition: background-color 250ms var(--animation-function);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.social__icon {
  fill: currentColor;
}

/* footer-newsletter */

.footer-newsletter {
  margin-left: 93px;
}

.newsletter__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.newsletter-form {
  display: flex;
  align-items: center;
}
.newsletter-form__input {
  padding: 0;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border 250ms var(--animation-function) box-shadow 250ms
    var(--animation-function);
}

.newsletter-form__input:hover,
.newsletter-form__input:focus-within {
  border: 1px solid rgba(33, 150, 243, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.newsletter__btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 10px 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow 250ms var(--animation-function);
}

.newsletter__btn:hover,
.newsletter__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1024px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms var(--animation-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms var(--animation-function),
    visibility 250ms var(--animation-function),
    transform 250ms var(--animation-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.85);
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  text-align: center;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation-function);
}

.modal-text {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.modal-form-field:focus-within > .modal-form-icon,
.modal-form-field:hover > .modal-form-icon {
  color: var(--accent-color);
}

.modal-form-field:focus-within > input,
.modal-form-field:hover > input {
  border: 1px solid var(--accent-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.modal-form-input {
  width: 100%;
  padding-top: 11px;
  padding-left: 42px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--animation-function);
}

.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: currentColor;

  transition: color 250ms var(--animation-function);
}

.modal-form-comment {
  margin-bottom: 20px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  transition: border 250ms var(--animation-function);
}

.modal-form-field:focus-within > textarea,
.modal-form-field:hover > textarea {
  border: 1px solid var(--accent-color);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.modal-form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-label {
  display: block;
  margin-left: 8px;
  margin-right: 8px;
}
.checkbox-part-text {
  text-decoration: underline;
  color: var(--accent-color);
}

.icon-checkbox {
  display: block;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon-unceck.svg);
}

.checkbox:checked + .icon-checkbox {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check\ .svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms var(--animation-function);
}
.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;

  transition: color 250ms var(--animation-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--accent-color);
}

.btn-modal-icon {
  fill: currentColor;
}

/* PORTFOLIO */
/* filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter__item:not(first-item) {
  margin-left: 8px;
}

.button-second {
  display: inline-block;
  max-width: 130px;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-function);
}

.button-second:hover,
.button-second:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc(100% / 3);
}

.portfolio__item {
  max-width: 370px;
}
.portfolio-link {
  display: block;
  position: relative;

  transition: box-shadow 250ms var(--animation-function) color 250ms
    var(--animation-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-link__thumb {
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
}

.portfolio-link__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--animation-function);
}

.portfolio-link:hover .portfolio-link__text,
.portfolio-link:focus .portfolio-link__text {
  transform: translateY(0);
  position: absolute;
}

.portfolio-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-wrap__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-wrap__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
